<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="../../../../assets/images/{{pensamento.modelo}}.png" alt="Aspas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="../../../../assets/images/icone-editar.png" alt="ícone de editar">
    </button>
    <button routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}" class="botao-excluir">
      <img src="../../../../assets/images/icone-excluir.png" alt="ícone de excluir">
    </button>
  </div>
</div>
